<app-barra-lateral 
  [tipoUsuario]="tipoUsuario"
  (botonSeleccionado)="seleccionarComponente($event)">
</app-barra-lateral>
<div class="contenido-derecho">
  <!-- Mostrar el componente dinámico -->
  <ng-container [ngSwitch]="componenteSeleccionado">
    <app-tabla-mascotas [mostrarTodas]="true" *ngSwitchCase="'mascotas'"></app-tabla-mascotas>
    <app-tabla-clientes *ngSwitchCase="'clientes'"></app-tabla-clientes>
    <app-vista-mascotas-cliente *ngSwitchCase="'mismascotas'"></app-vista-mascotas-cliente>
    <!-- Agrega más componentes según los botones -->
     <!--
    <div *ngSwitchCase="'dashboard'">Dashboard Component Placeholder</div>
    <div *ngSwitchCase="'personal'">Personal Component Placeholder</div>
    <div *ngSwitchCase="'medicamentos'">Medicamentos Component Placeholder</div>
    <div *ngSwitchCase="'tratamientos'">Tratamientos Component Placeholder</div>
    <div *ngSwitchCase="'salir'">Salir Component Placeholder</div>
    -->
  </ng-container>
</div>