h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Jomhuria, serif;
  letter-spacing: 5px;
  line-height: 30px;
}


.contact-form {
    background-color: #B49FCC;
    padding: 37px 18px;
    text-align: left;
    border-radius: 5px;
    position: relative;
    margin-top: 1%;
  }
  
  .contact-form h2 {
    font-size: 65px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 75px;
  }
  
  .contact-form form {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 700px;
  }
  
  .contact-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .contact-form .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  
  .contact-form .form-group:last-child {
    margin-right: 0;
  }
  
  .contact-form label {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 7px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    font-size: 16px;
  }
  
  .contact-form textarea {
    width: 100%;
    height: 100px; /* Triple de alto */
  }
  
  .contact-form button {
    background-color: #c2f970;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .contact-form button:hover {
    background-color: #564d80;
  }
  
  .contact-button {
    display: flexbox;
    background-color: #c2f970;
    color: #44344f;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }