
:root{
    --color-barra-lateral:#44344f;

    --color-texto:#ffffff;
    --color-texto-menu:#ffffff;

    --color-menu-hover:#65558F;
    --color-menu-hover-texto:#ffffff;

    --color-linea:#C2F970;

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    background-color: #f8f9fa;
}

.contenedor-principal {
    display: flex;
    height: 100vh;
}

h1 {
    font-family: 'Jomhuria', serif;
    letter-spacing: 4px;
    color: #5a4076;
    font-size: 80px;
}

h2 {
    font-family: 'Jomhuria', serif;
    letter-spacing: 4px;
    color: #5a4076;
    font-size: 60px;
    padding: 0;
}

/*-----------------Botones*/
button,a{
    margin-top: 18px;
}

/*-----------------Menu*/
.menu{
    font-family: Roboto, serif;
    font-weight: bold;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}


/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 100px;
}

.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    margin-top: 40px;
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

/*------------> Icono de la página */
.barra-lateral .nombre-pagina img{
    min-width: 70px;
    max-width: 70px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}

/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    width: 100%;
    overflow-y: auto;  
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion ul{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center; /* Cambia a flex-start */
    padding-left: 10px; /* Añade algo de padding a la izquierda */
    border-radius: 10px;
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion img {
    max-width: 30px;
    margin-right: 10px; 
}

.barra-lateral .navegacion span {
    font-weight: 500;
    font-size: 18px;
    flex: 1;
}


/*-----------------> Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*---------------> Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}


/*-------------main*/

#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 100px;
}

/* Estilo del contenido principal */
.contenido-principal {
    flex-grow: 1; /* Hace que el main ocupe todo el espacio restante */
    padding: 20px;
    transition: margin-left 0.5s ease;
}

/* Estilo de la tabla */
.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table-responsive {
    margin-top: 20px;
    flex-grow: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
    background-color: #adcc9f;
}

/* Redimensionar y redondear la imagen */
.foto_mascota {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #c0c0c0;
}

/* Estilo de los botones de acción */
.action-icon {
    width: 20px;
    height: 20px;
}

.btn-edit {
    margin-right: 10px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.btn-delete {
    margin-bottom: 0%;
    margin-top: 0%;
}

.btn-green {
    background-color: #C2F970;
    border-color: #C2F970;
    color: #44344F;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 4px;
}

.btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

/* Estilo de la barra de paginación */
.pagination {
    position: sticky; /* Fija la paginación al fondo del contenedor */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    background-color: white; /* Asegura un fondo consistente */
    padding-top: 10px;
    margin-top: auto; /* Empuja la paginación hacia la parte inferior */
    justify-content: center;
}
.pagination .page-item .page-link {
    color: #6f42c1;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    border: none;
}

.pagination .page-item.active .page-link {
    background-color: #6f42c1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
}

.pagination .page-item {
    margin: 0 0.25rem; 
}

/* Estilo de la tarjeta de agregar mascota */
.agregar-mascota-card {
    margin: auto;
    max-width: 600px;
    border-radius: 20px;
    padding: 20px;
    background-color: #B49FCC;
    font-family: 'Roboto', serif;
}

/* Estilo del título */
.agregar-mascota-titulo {
    font-family: Jomhuria, serif;
    letter-spacing: 4px;
    color: #5a4076;
    font-size: 80px;
}

/* Botones */
.btn-outline-secondary {
    border: none;
    background: transparent;
}

.btn-outline-secondary:hover {
    background: #6f42c1;
    color: white;
}

.btn-dark {
    background-color: #5a4076;
    border-color: #5a4076;
}

.btn-dark:hover {
    background-color: #44344f;
}

/*------------------> Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
    
}