
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    background-color: #f8f9fa;
}

.contenedor-principal {
    display: flex;
    height: 100vh;
    margin-left: 250px;
}

.contenido-principal {
    flex-grow: 1; /* Hace que el main ocupe todo el espacio restante */
    padding: 20px;
    transition: margin-left 0.5s ease;
}


.cards-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px; /* Añadir margen inferior */
}

.graficas-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px; /* Ajuste del margen superior */
}

.grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
}

h1, h2, h3 {
    font-family: 'Jomhuria', serif;
    letter-spacing: 4px;
    color: #5a4076;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 30px; 
    text-align: center;
    margin-bottom: 10px;
}

