
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 80px 0px 80px;
  }
  
  .testimonials h2 {
    font-size: 100px;
    line-height: 80px;
    font-weight: 400;
    color: #c2f970;
  }
  
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    height: 800px;
    padding: 20px 0px;
  }
  
  .circle-card {
    background-color: #44344f;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 5px solid #c2f970;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .testimonial-content {
    max-width: 150px;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    font-style: italic;
  }
  
  #testimonial-1 {
    top: 30%;
  }
  
  #testimonial-2 {
    left: 5%;
  }
  
  #testimonial-3 {
    right: 5%;
  }
  
  #testimonial-4 {
    top: 30%;
  }
  
  .testimonial-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: auto;
    z-index: -1;
    height: 380px;
    width: 280px;
    top: 55%;
  }