
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 80px 0px 80px; /* Último valor en 0 para quitar padding inferior */
  margin-bottom: 0; /* Asegura que no haya margen inferior */
}

  
  .testimonials h2 {
    font-size: 100px;
    line-height: 80px;
    font-weight: 400;
    font-family: Jomhuria, serif;
    color: #c2f970;
    margin-bottom: 0px;
  }
  
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    height: 650px;
    padding: 0; /* Quita cualquier padding extra */
}

  
  .circle-card {
    background-color: #44344f;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 5px solid #c2f970;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .testimonial-content {
    max-width: 150px;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    font-style: italic;
  }
  
  #testimonial-1 {
    top: 30%;
  }
  
  #testimonial-2 {
    left: 5%;
  }
  
  #testimonial-3 {
    right: 5%;
  }
  
  #testimonial-4 {
    top: 30%;
  }
  
  .testimonial-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    height: 380px;
    width: 280px;
    margin-bottom: 0; /* Quita cualquier margen inferior */
    top: 44.5%; /* Asegúrate de que top esté en 0 */
}


