<div class="CambioSec"><hr /></div>
<section class="testimonials" id="testimonios">
  <h2>Lo que dicen nuestros clientes</h2>

  <!-- Tarjetas de Testimonios -->
  <div class="testimonials-container">
    <div class="circle-card" id="testimonial-1">
      <div class="testimonial-content">
        <p>
          "¡El equipo de Veterinaria Dr. Michito es increíble! Siempre tratan a
          mi perro Max con mucho cariño y profesionalismo."
        </p>
        <p><strong>Carlos López ★★★★★</strong></p>
      </div>
    </div>

    <div class="circle-card" id="testimonial-2">
      <div class="testimonial-content">
        <p>
          “Llevo a mis dos gatos a la Veterinaria Dr. Michito desde hace años, y
          siempre he recibido un servicio y trato excelente.”
        </p>
        <p><strong>Ana Maria García ★★★★★</strong></p>
      </div>
    </div>

    <div class="testimonial-image">
      <img src="images/testimonials-dog.png" alt="Perro-Testimonios" />
    </div>

    <div class="circle-card" id="testimonial-3">
      <div class="testimonial-content">
        <p>
          "Tuve una emergencia con mi perrito y el equipo de Dr. Michito lo
          atendió de inmediato. Gracias a su rápido y excelente trabajo."
        </p>
        <p><strong>María Fernández ★★★★★</strong></p>
      </div>
    </div>

    <div class="circle-card" id="testimonial-4">
      <div class="testimonial-content">
        <p>
          “El personal es muy atento y las instalaciones están impecables. Mis
          mascotas siempre son bien tratadas y lo recomiendo.”
        </p>
        <p><strong>Fernando Rodriguez ★★★★★</strong></p>
      </div>
    </div>
  </div>
</section>
<div class="CambioSec"><hr /></div>
