<div class="contenedor-principal">
  <!-- Sidebar -->
  <app-barra-lateral></app-barra-lateral>

  <main
    role="main"
    class="col-md-9 ml-sm-auto col-lg-10 px-4 contenido-principal"
  >
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <a onclick="history.back()" class="btn btn-outline-secondary">
        <img
          src="/images/iconos/arrow-circle-left-purple.png"
          alt="Icono Atras"
          s
        />
      </a>
    </div>

    <div class="card agregar-mascota-card">
      <div class="card-body">
        <h2 class="text-center agregar-mascota-titulo">
          {{ modoEdicion ? 'Editar Mascota' : 'Agregar Mascota' }}
        </h2>

        <!-- Mostrar el mensaje de error si 'mostrarError' es true -->
        <ng-container *ngIf="mostrarError">
          <div class="alert alert-danger">
            <p>Usuario o contraseña incorrecta</p>
          </div>
        </ng-container>

        <form (ngSubmit)="guardar()" #mascotaForm="ngForm">
          <div class="mb-3">
            <label for="cedulaCliente" class="form-label">Cédula del Cliente</label>
            <input
              type="text"
              class="form-control"
              id="cedulaCliente"
              name="cedulaCliente"
              placeholder="Ingrese la cédula del cliente"
              required
            />
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              [(ngModel)]="formMascota.nombre"
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              placeholder="Ingrese el nombre de la mascota"
              required
            />
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="edad" class="form-label">Edad</label>
              <input
                [(ngModel)]="formMascota.edad"
                type="number"
                class="form-control"
                id="edad"
                name="edad"
                placeholder="Ingrese la edad de la mascota"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="peso" class="form-label">Peso (kg)</label>
              <input
                [(ngModel)]="formMascota.peso"
                type="number"
                class="form-control"
                id="peso"
                name="peso"
                placeholder="Ingrese el peso de la mascota"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="foto" class="form-label">Foto</label>
            <input
              [(ngModel)]="formMascota.foto"
              type="url"
              class="form-control"
              id="foto"
              name="foto"
              placeholder="Ingrese la URL de la foto"
              required
            />
          </div>
          <button type="submit" class="btn btn-dark w-100">
            {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
          </button>
        </form>
        {{ formMascota.nombre }}
        {{ formMascota.edad }}
      </div>
    </div>
  </main>
</div>
