<app-barra-lateral></app-barra-lateral>
<div class="contenedor-principal">


  <main
    role="main"
    class="col-md-9 ml-sm-auto col-lg-10 px-4 contenido-principal"
  >
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
    <a class="btn btn-outline-secondary" (click)="onVolver()">
      <img src="/images/iconos/arrow-circle-left-purple.png" alt="Icono Atras" />
    </a>
    
    </div>

    <div class="card agregar-mascota-card"> 
      <div class="card-body">
        <h2 class="text-center agregar-mascota-titulo">
          {{ modoEdicion ? 'Editar Mascota' : 'Agregar Mascota' }}
        </h2>
        

        <form (ngSubmit)="guardar()" #mascotaForm="ngForm">
          <div class="mb-3">
            <label for="cedulaCliente" class="form-label">Cédula del Cliente</label>
            <input
              type="text"
              class="form-control"
              id="cedulaCliente"
              name="cedulaCliente"
              placeholder="Ingrese la cédula del cliente"
              [(ngModel)]="formMascota.cedulaCliente"  
              (input)="onSearch(formMascota.cedulaCliente)"  
              [disabled]="modoEdicion"
              required
            />
            
            <!-- Mostrar dropdown solo si hay coincidencias -->
            <ul *ngIf="clientesSugeridos.length > 0" class="list-group">
              <li 
                class="list-group-item"
                *ngFor="let cliente of clientesSugeridos" 
                (click)="seleccionarCliente(cliente)">
                {{ cliente.cedula }} - {{ cliente.nombre }}
              </li>
            </ul>
          </div>

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              [(ngModel)]="formMascota.nombre"
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              placeholder="Ingrese el nombre de la mascota"
              required
            />
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="edad" class="form-label">Edad</label>
              <input
                [(ngModel)]="formMascota.edad"
                type="number"
                class="form-control"
                id="edad"
                name="edad"
                placeholder="Ingrese la edad de la mascota"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="peso" class="form-label">Peso (kg)</label>
              <input
                [(ngModel)]="formMascota.peso"
                type="number"
                class="form-control"
                id="peso"
                name="peso"
                placeholder="Ingrese el peso de la mascota"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="foto" class="form-label">Foto</label>
            <input
              [(ngModel)]="formMascota.foto"
              type="url"
              class="form-control"
              id="foto"
              name="foto"
              placeholder="Ingrese la URL de la foto"
              required
            />
          </div>


         

          
          
          <div class="toggle-options" *ngIf="modoEdicion">
            <div class="switch">
              <div class="activar">
                <input 
                  type="checkbox" 
                  id="gooey-switch" 
                  [(ngModel)]="formMascota.estado" 
                  (change)="onChangeEstado($event)" 
                  name="estado"
                />
                <label for="gooey-switch">On/Off</label>
              </div>
              <h2 id="Estado">Activar/Desactivar Mascota</h2>
            </div>
          </div>
          
          
          
          
          
          


      <ng-container *ngIf="mostrarError">
        <div class="alert alert-danger">
            <p>No existe un cliente con la cédula {{ formMascota.cedulaCliente }}</p>
        </div>
      </ng-container>

          <button type="submit" class="btn btn-dark w-100">
            {{ modoEdicion ? 'Actualizar' : 'Guardar' }}
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
