/* You can add global styles to this file, and also import other style files */
:root{
    --color-barra-lateral:#44344f;

    --color-texto:#ffffff;
    --color-texto-menu:#ffffff;

    --color-menu-hover:#65558F;
    --color-menu-hover-texto:#ffffff;

    --color-linea:#C2F970;

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
