/* You can add global styles to this file, and also import other style files */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
:root{
    --color-barra-lateral:#44344f;

    --color-texto:#ffffff;
    --color-texto-menu:#ffffff;

    --color-menu-hover:#65558F;
    --color-menu-hover-texto:#ffffff;

    --color-linea:#C2F970;

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Aplica bordes redondeados a todos los diálogos de confirmación */
::ng-deep .p-confirmdialog {
    border-radius: 15px; /* Ajusta el valor según el nivel de redondez que prefieras */
  }
  
  ::ng-deep .p-confirmdialog .p-dialog-content {
    border-radius: 15px; /* Asegura que el contenido también esté redondeado */
  }
  
  /* Aplica bordes redondeados al encabezado */
  ::ng-deep .p-confirmdialog .p-dialog-titlebar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }