

 
 /****************Sobre nosotros y nuestro equipo *******************/
 #nosotros {
    background-color: #B49FCC;
    padding: 20px 10px; /* Reducir el padding */
    text-align: center;
  }
  #nosotros h2 {
    color: #44344F;
    font-family: Jomhuria, serif;
    font-size: 90px; /* Reducir el tamaño de la fuente */
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #nosotros p {
    color: #44344F;
    font-size: 16px; /* Reducir el tamaño de la fuente */
    line-height: 1.5;
    max-width: 1150px; 
    margin: 0 auto;
    margin-bottom: 5px;
  }
  #equipo {
    background-color: #B49FCC;
    padding: 20px 10px; /* Reducir el padding */
    text-align: center;
  }
  #equipo h2 {
    color: #44344F;
    font-family: Jomhuria, serif;
    font-size: 70px; /* Reducir el tamaño de la fuente */
    margin-bottom: 5px; /* Reducir el margen */
    margin-top: 5px;
  }
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
  }
  
  .carousel-track-container {
    overflow: hidden;
    width: 80%;
  }
  
  .team-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .team-member {
    min-width: calc(100% / 3);
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
  }
  
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  