<section id="nosotros">
  <div data-aos="zoom-in-up"><h2>Sobre Nosotros</h2></div>
  <div data-aos="zoom-in-up">
    <p>
      En Dr. Michito, nuestra misión es proporcionar atención médica veterinaria de alta calidad y con cariño para tus
      mascotas. Desde nuestros comienzos, hemos estado comprometidos con el bienestar de los animales, ofreciendo
      servicios integrales que van desde chequeos regulares hasta tratamientos especializados. Creemos firmemente en la
      importancia de la prevención y la educación para garantizar que tus amigos peludos vivan vidas largas y saludables.
      Nos esforzamos por crear un ambiente acogedor y seguro para todos nuestros pacientes y sus dueños, porque
      entendemos que ellos son parte de tu familia y merecen lo mejor.
    </p>
  </div>
  
</section>

<section id="equipo" data-aos="zoom-out">
  <h2>Nuestro equipo</h2>
  <p-carousel 
    [value]="teamMembers" 
    [numVisible]="3" 
    [numScroll]="1" 
    [showIndicators]="true"
    [showNavigators]="true"
    [orientation]="'horizontal'"
    [circular]="true" 
    [page]="0"
    [autoplayInterval]="3000">
    
    <ng-template pTemplate="item" let-member>  
      <div class="team-member">
        <img [src]="member.image" [alt]="member.name" />
        <h3>{{ member.name }}</h3>
        <p>{{ member.specialty }}</p>
        <p>{{ member.description }}</p>
      </div>
    </ng-template>
  </p-carousel>
</section>
