<div class="container">
  <div class="left-panel">
    <img
      src="images/iconos/Logo_principal_dr.michito_blanco.png"
      alt="Logo"
      class="LogoPrincipal"
    />
    <h2>Volvamos a cuidar juntos de tus peludos favoritos.</h2>
    <img src="images/loginImage.png" alt="Perro en Sofa" class="large-image" />
  </div>
  <div class="right-panel">
    <div class="top-right">
      <a href="/"
        ><img
          src="images/iconos/arrow-circle-left-purple.png"
          alt="Icono Atras"
      /></a>
    </div>
    <div class="main-content">
      <h1>Iniciar Sesión</h1>

      <!-- Usar ngSubmit para manejar el envío del formulario -->
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <label for="cedula">Cédula</label>
        <input
          type="text"
          id="cedula"
          name="cedula"
          [(ngModel)]="cedula"
          required
        />

        <!-- Mostrar el mensaje de error si 'mostrarError' es true -->
        <div *ngIf="mostrarError" class="alert alert-danger">
          <p>Cedula no encontrada, intente de nuevo</p>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
