
<app-barra-lateral></app-barra-lateral>
<div class="contenedor-principal">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 contenido-principal">
    <div class="card detalles-tratamiento-card">
      <div class="card-body">
        <h2 class="text-center">Detalles del Tratamiento</h2>

        <!-- Información del Tratamiento -->
        <h4>Tratamiento</h4>
        <p><strong>Fecha:</strong> {{ tratamiento?.fecha  }}</p>
        <p><strong>Descripción:</strong> {{ tratamiento?.descripcion }}</p>

        <!-- Información de la Mascota -->
        <h4>Mascota</h4>
        <p><strong>Nombre:</strong> {{ mascota?.nombre }}</p>
        <p><strong>Edad:</strong> {{ mascota?.edad }} años</p>
        <p><strong>Peso:</strong> {{ mascota?.peso }} kg</p>

        <!-- Información del Cliente -->
        <h4>Cliente</h4>
        <p><strong>Nombre:</strong> {{ cliente?.nombre }}</p>
        <p><strong>Email:</strong> {{ cliente?.correo }}</p>
        <p><strong>Teléfono:</strong> {{ cliente?.celular }}</p>

        <!-- Información del Veterinario -->
        <h4>Veterinario</h4>
        <p><strong>Nombre:</strong> {{ veterinario?.nombre }}</p>
        <p><strong>Especialidad:</strong> {{ veterinario?.especialidad }}</p>
        <p><strong>Teléfono:</strong> {{ veterinario?.celular }}</p>

        <!-- Medicamentos usados -->
        <h4>Medicamentos Usados</h4>
        <ul>
          <li *ngFor="let medicamento of tratamiento?.medicamentos">
            {{ medicamento.nombre }}
          </li>
        </ul>

        <!-- Botón para volver -->
        <button class="btn btn-primary" (click)="volver()">
          Volver
        </button>
      </div>
    </div>
  </main>
</div>
