<app-barra-lateral></app-barra-lateral>
<div class="contenedor-principal">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-primary" (click)="volver()">Volver</button>
      </div>
    </div>
  </div>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 contenido-principal">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <!-- Tarjeta de Detalles del Tratamiento -->
      <div class="col">
        <div class="card detalles-tratamiento-card">
          <div class="card-header">
            <h2 class="text-center">Detalles del Tratamiento</h2>
          </div>
          <div class="card-body">
            <p><strong>Fecha:</strong> {{ tratamiento?.fecha }}</p>
            <p><strong>Descripción:</strong> {{ tratamiento?.descripcion }}</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Detalles de la Mascota -->
      <div class="col">
        <div class="card detalles-mascota-card">
          <div class="card-header">
            <h2 class="text-center">Detalles de la Mascota</h2>
          </div>
          <div class="card-body">
            <p><strong>Nombre:</strong> {{ mascota?.nombre }}</p>
            <p><strong>Edad:</strong> {{ mascota?.edad }} años</p>
            <p><strong>Peso:</strong> {{ mascota?.peso }} kg</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Detalles del Cliente -->
      <div class="col">
        <div class="card detalles-cliente-card">
          <div class="card-header">
            <h2 class="text-center">Detalles del Cliente</h2>
          </div>
          <div class="card-body">
            <p><strong>Nombre:</strong> {{ cliente?.nombre }}</p>
            <p><strong>Email:</strong> {{ cliente?.correo }}</p>
            <p><strong>Teléfono:</strong> {{ cliente?.celular }}</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta de Medicamentos Usados -->
<div class="col">
  <div class="card detalles-medicamentos-card">
    <div class="card-header">
      <h2 class="text-center">Medicamentos Usados</h2>
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let medicamento of tratamiento?.medicamentos">
          {{ medicamento.nombre }}..................   $ {{ formatearPrecio(medicamento.precioVenta) }}
        </li>
      </ul>
      <!-- Mostrar el total de medicamentos -->
      <p><strong>Total de Medicamentos:</strong> $ {{ formatearPrecio(totalMedicamentos) }}</p>
    </div>
  </div>
</div>


    </div>
  </main>
</div>
