<div class="contenedor-principal">
  <!-- Sidebar -->
  <app-barra-lateral></app-barra-lateral>

  <!-- Main content -->
  <main
    role="main"
    class="col-md-9 ml-sm-auto col-lg-10 px-4 contenido-principal"
  >
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <a onclick="history.back()" class="btn btn-outline-secondary">
        <img
          src="/images/iconos/arrow-circle-left-purple.png"
          alt="Icono Atras"
        />
      </a>
      <h1>Mascotas</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a [routerLink]="['/CreaMascota']" class="btn btn-green">
            + Agregar Mascotas
          </a>
        </div>
      </div>
    </div>
    <!--TABLA-->
    <div id="mascotas_table">
      <table class="table table-striped table-hover">
        <thead class="table-hover">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Peso</th>
            <th>Foto</th>
            <th>Historial</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Mascotas of mascotas">
            <td>{{ Mascotas.ID }}</td>
            <td>{{ Mascotas.nombre }}</td>
            <td>{{ Mascotas.edad }}</td>
            <td>{{ Mascotas.peso }}</td>
            <td>
              <img src="{{ Mascotas.foto }}" class="foto_mascota" />
            </td>
            <td>
              <a
                th:href="@{/Mascotas/detalle/{id}(id=${Mascotas.id})}"
                class="btn btn-green"
                >Ver</a
              >
            </td>
            <td>
              <a
                th:href="@{editar/{id}(id=${Mascotas.id})}"
                class="btn btn-sm btn-edit"
              >
                <img
                  src="/images/iconos/editIcon.png"
                  alt="Editar"
                  class="action-icon"
                />
              </a>
              <a
                
                class="btn btn-sm btn-delete"
                (click)="eliminarMascota(Mascotas)"
              >
                <img
                  src="/images/iconos/trashIcon.png"
                  alt="Eliminar"
                  class="action-icon"
                />
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <app-create-mascota
        (mascotaCreada)="agregarMascota($event)"
      ></app-create-mascota>
    </div>

  </main>
</div>
