<header>
    <div class="logo">
      <img
        src="images/iconos/Logo_principal_dr.michito.png"
        class="LogoPrincipal"
      />Dr. Michito
    </div>

    <!-- Navbar de Bootstrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#nosotros">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonios">Testimonios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="auth-buttons">
      <a [routerLink]="['/login']" class="login">Iniciar Sesión</a>
      <a  [routerLink]="['/loginPortalInterno']" class="register">Portal Interno</a>
    </div>
  </header>