<div class="container">
  <div class="left-panel">
    <img
    src="images/iconos/Logo_principal_dr.michito_blanco.png"
      alt="Logo"
      class="LogoPrincipal"
    />
    <h2>Eres parte de la mejor familia, sigue con tu labor!</h2>
    <img
      src="/images/loginImage.png"
      alt="Perro en Sofa"
      class="large-image"
    />
  </div>
  <div class="right-panel">
    <div class="top-right">
      <a href="/"
        ><img
        src="images/iconos/arrow-circle-left-purple.png"
          alt="Icono Atras"
      /></a>
    </div>
    <div class="main-content">
      <h1>Portal Interno</h1>

      <form #loginForm="ngForm">
        <label for="usuario">Usuario</label>
        <input [(ngModel)]="login.username" name="username" id="usuario" type="text" required/>
        
        <label for="contrasena">Contraseña</label>
        <input [(ngModel)]="login.password" name="password" id="contrasena" type="password" required/>
        
        <!-- Mostrar el mensaje de error si 'mostrarError' es true -->
        <ng-container *ngIf="mostrarError">
          <div class="alert alert-danger">
            <p>Usuario o contraseña incorrecta</p>
          </div>
        </ng-container>
        
        <button id="btnLogin" type="button" (click)="onClick()">Iniciar Sesión</button>


      </form>
      
        
    </div>
  </div>
</div>