<section class="hero" id="inicio">
  <div class="hero-content">
    <h1 data-aos="fade-down" data-aos-delay="100">Bienvenidos a Dr. Michito</h1>
    <p data-aos="fade-down" data-aos-delay="300">Atención veterinaria para perros y gatos.<br />Servicio 24 horas.</p>
    <a href="#" 
       class="contact-button" 
       data-aos="zoom-in" 
       data-aos-delay="500">
      Conoce Nuestros Servicios
    </a>
  </div>
  
  <div class="hero-image" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="300">
    <img src="images/ImagenBienvenidaPerroyGato.webp" alt="Perro y Gato" />
  </div>
</section>