<div class="CambioSec"><hr /></div>
<section id="servicios">
  <!-- Presentación con animación fade y permanencia -->
  <div id="PresentacionServ"
       data-aos-delay="200" 
       data-aos="fade-right"
       data-aos-duration="1200"
       data-aos-offset="200"
       data-aos-easing="ease-in-sine"
       data-aos-once="false"
       data-aos-mirror="true">
    <h2>Servicios</h2>
    <p>
      En Dr. Michito, estamos<br />
      comprometidos a ofrecer una<br />
      atención integral y de alta calidad<br />
      para tu mascota. Nuestro equipo<br />
      de profesionales está aquí para<br />
      proporcionarte una amplia gama<br />
      de servicios veterinarios para<br />
      asegurar la salud y el bienestar de<br />
      tus animales.
    </p>
  </div>

  <div id="cajaServicios">
    <!-- Primera fila de servicios -->
    <div class="filaServ">
      <div class="tarjeta" 
           data-aos="zoom-in-right"
           data-aos-duration="0"
           data-aos-delay="100"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Consulta.png" class="ServiciosImg" />
        <h3>Consultas Generales</h3>
        <input type="button" value="Agendar" />
      </div>

      <div class="tarjeta"
           data-aos="zoom-in-up"
           data-aos-duration="0"
           data-aos-delay="200"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Vacuna.png" class="ServiciosImg" />
        <h3>Vacunación</h3>
        <input type="button" value="Agendar" />
      </div>

      <div class="tarjeta"
           data-aos="zoom-in-left"
           data-aos-duration="0"
           data-aos-delay="300"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Laboratorio.png" class="ServiciosImg" />
        <h3>Exámenes de Laboratorio</h3>
        <input type="button" value="Agendar" />
      </div>
    </div>

    <!-- Segunda fila de servicios -->
    <div class="filaServ">
      <div class="tarjeta"
           data-aos="zoom-in-right"
           data-aos-duration="800"
           data-aos-delay="0"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Diente.png" class="ServiciosImg" />
        <h3>Profilaxis</h3>
        <input type="button" value="Agendar" />
      </div>

      <div class="tarjeta"
           data-aos="zoom-in-left"
           data-aos-duration="800"
           data-aos-delay="0"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Cirugia.png" class="ServiciosImg" />
        <h3>Cirugías</h3>
        <input type="button" value="Agendar" />
      </div>
    </div>

    <!-- Tercera fila de servicios -->
    <div class="filaServ">
      <div class="tarjeta"
           data-aos="zoom-in-right"
           data-aos-duration="800"
           data-aos-delay="0"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Peluqueria.png" class="ServiciosImg" />
        <h3>Peluquería Canina o Felina</h3>
        <input type="button" value="Agendar" />
      </div>

      <div class="tarjeta"
           data-aos="zoom-in-up"
           data-aos-duration="800"
           data-aos-delay="0"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Radiografia.png" class="ServiciosImg" />
        <h3>Radiografías</h3>
        <input type="button" value="Agendar" />
      </div>

      <div class="tarjeta"
           data-aos="zoom-in-right"
           data-aos-duration="800"
           data-aos-delay="0"
           data-aos-once="false"
           data-aos-mirror="true">
        <img src="images/Urgencias.png" class="ServiciosImg" />
        <h3>Urgencias</h3>
        <input type="button" value="Agendar" />
      </div>
    </div>
  </div>
</section>
<div class="CambioSec"><hr /></div>