<div class="CambioSec"><hr /></div>
<section id="servicios">
  <div id="PresentacionServ">
    <h2>Servicios</h2>
    <p>
      En Dr. Michito, estamos<br />
      comprometidos a ofrecer una<br />
      atención integral y de alta calidad<br />
      para tu mascota. Nuestro equipo<br />
      de profesionales está aquí para<br />
      proporcionarte una amplia gama<br />
      de servicios veterinarios para<br />
      asegurar la salud y el bienestar de<br />
      tus animales.
    </p>
  </div>
  <div id="cajaServicios">
    <div class="filaServ">
      <div class="tarjeta">
        <img src="images/Consulta.png" class="ServiciosImg" />
        <h3>Consultas Generales</h3>
        <input type="button" value="Agendar" />
      </div>
      <div class="tarjeta">
        <img src="images/Vacuna.png" class="ServiciosImg" />
        <h3>Vacunación</h3>
        <input type="button" value="Agendar" />
      </div>
      <div class="tarjeta">
        <img src="images/Laboratorio.png" class="ServiciosImg" />
        <h3>Exámenes de Laboratorio</h3>
        <input type="button" value="Agendar" />
      </div>
    </div>
    <div class="filaServ">
      <div class="tarjeta">
        <img src="images/Diente.png" class="ServiciosImg" />
        <h3>Profilaxis</h3>
        <input type="button" value="Agendar" />
      </div>
      <div class="tarjeta">
        <img src="images/Cirugia.png" class="ServiciosImg" />
        <h3>Cirugías</h3>
        <input type="button" value="Agendar" />
      </div>
    </div>
    <div class="filaServ">
      <div class="tarjeta">
        <img src="images/Peluqueria.png" class="ServiciosImg" />
        <h3>Peluquería Canina o Felina</h3>
        <input type="button" value="Agendar" />
      </div>
      <div class="tarjeta">
        <img src="images/Radiografia.png" class="ServiciosImg" />
        <h3>Radiografías</h3>
        <input type="button" value="Agendar" />
      </div>
      <div class="tarjeta">
        <img src="images/Urgencias.png" class="ServiciosImg" />
        <h3>Urgencias</h3>
        <input type="button" value="Agendar" />
      </div>
    </div>
  </div>
</section>
<div class="CambioSec"><hr /></div>