<footer>
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-logo">
          <img
            src="images/iconos/Logo_principal_dr.michito_blanco.png"
            class="LogoPrincipalBlanco"
          />
        </div>
        <p>Dr. Michito</p>
        <div class="social-icons">
          <a href="#"
            ><img src="images/iconos/facebook.svg" alt="Facebook"
          /></a>
          <a href="#"
            ><img src="images/iconos/youtube.svg" alt="YouTube"
          /></a>
          <a href="#"
            ><img src="images/iconos/instagram.svg" alt="Instagram"
          /></a>
        </div>
      </div>
      <div class="footer-right">
        <p>Dirección: Calle Falsa 123, Ciudad, País</p>
        <p>Teléfono: (123) 456-7890</p>
        <p>Email: contacto--drmichito.com</p>
      </div>
    </div>
    <div class="footer-copyright">
      <p>© 2024 Dr. Michito. Todos los derechos reservados.</p>
    </div>
  </footer>
